<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - cAp.Net Demo</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cApNetDemoPage.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/dcb6ab3969.js" crossorigin="anonymous"></script>

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary"> 
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/cc-logo.png" height="100px" width="150px" /><strong>cAp.Net Web App</strong></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Employee" asp-action="Index"><strong>Mitarbeiter</strong></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Pictures" asp-action="Index"><strong>Foto-Gallerie</strong></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="YouTube" asp-action="Index"><strong>YouTube</strong></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy"><strong>Datenschutz</strong></a>
                        </li>

                        <!-- Dark Mode -->

                        <div>
                            <img onclick="dark()" id="dark" src="~/icons/darkmode.png">
                        </div>

                    </ul>

                    <partial name="_LoginPartial" />

                </div>
            </div>

        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - cAp corporation - <a asp-area="" asp-controller="Home" asp-action="Impressum" style="color:orangered"><strong>Impressum</strong></a>
        </div>

        <!-- Social Icons -->

        <div class="container social-wrapper">

            <a href="https://www.microsoft.com/de-de/" target="_blank">
                <i id="microsoft" class="fa-brands fa-microsoft fa-2x"></i>
            </a>

            <a href="https://twitter.com/home?lang=de" target="_blank">
                <i id="x-twitter" class="fa-brands fa-x-twitter fa-2x"></i>
            </a>

            <a href="https://github.com/" target="_blank">
                <i id="github" class="fa fa-github-square fa-2x"></i>
            </a>

            <a href="https://www.xbox.com/de-DE" target="_blank">
                <i id="xbox" class="fa-brands fa-xbox fa-2x"></i>
            </a>

            <a href="https://pay.google.com/intl/de_de/about/" target="_blank">
                <i id="gpay" class="fa-brands fa-google-pay fa-2x"></i>
            </a>

            <a href="https://www.apple.com/de/apple-pay/" target="_blank">
                <i id="applepay" class="fa-brands fa-apple-pay fa-2x"></i>
            </a>

            <a href="https://www.paypal.com/de/home" target="_blank">
                <i id="paypal" class="fa-brands fa-paypal fa-2x"></i>
            </a>

            <a href="https://www.mastercard.de/de-de.html" target="_blank">
                <i id="mastercard" class="fa-brands fa-cc-mastercard fa-2x"></i>
            </a>

            <a href="https://www.visa.de/" target="_blank">
                <i id="visa" class="fa-brands fa-cc-visa fa-2x"></i>
            </a>

            <a href="https://open.spotify.com/intl-de" target="_blank">
                <i id="spotify" class="fa-brands fa-spotify fa-2x"></i>
            </a>

            <a href="https://www.youtube.com/" target="_blank">
                <i id="youtube" class="fa-brands fa-youtube fa-2x"></i>
            </a>

            <a href="https://web.telegram.org/a/" target="_blank">
                <i id="telegram" class="fa-brands fa-telegram fa-2x"></i>
            </a>

            <a href="https://www.microsoft.com/de-de/microsoft-365/outlook/email-and-calendar-software-microsoft-outlook" target="_blank">
                <i id="email" class="fa fa-envelope fa-2x"></i>
            </a>
        </div>

        </div>

    </footer>

    <!-- Script -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/darkmode.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>