@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Mitarbeiter</h1>
FlowR1da - Main Developer<br />
Asario - Co Developer<br />