@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Impressum</h1>

<br />

<p>Dieses Impressum gilt für das Test-Angebot unter der Domain cap-corporation.com, inkl. aller Subdomains (Unterseiten), sowie für alle Webseiten und Dienste von cAp.Net, die auf dieses Impressum verlinken.</p>

<br /><br />

<h2>Angaben gemäß § 5 TMG</h2>

<br />

<p><strong>cAp corporation</strong></p>
<p>Jan-Christian Becker</p>
<p>Bargteheider Straße 89a</p>
<p>22143 Hamburg</p>
<p>Deutschland</p>

<br />

<p>Universal Business Identifier: 600 413 485</p>
<p>Vertretungsberechtigter: Benjamin O. Orndorff</p>

<br /><br />

<h2>Kontakt</h2>

<br />

<p>Mobil :   +49 173 3952794</p>
<p>E-Mail : s.ecu@hotmail.de</p>

<br /><br />

<h2>Hinweise und Verfahren zur Geltendmachung von Ansprüchen bei Schutzrechtsverletzungen.</h2>

<br />

<p>cAp.Net respektiert die Rechte am geistigen Eigentum Dritter.</p>

<p>Bei Ansprüchen aufgrund einer Verletzung von Rechten des geistigen Eigentums, einschließlich Ansprüchen wegen Urheberrechtsverletzungen, empfehlen wir Ihnen, dem von der cAp corporation benannten Vertreter eine entsprechende Mitteilung zu senden.</p>

<p>Weitere Informationen und Kontaktdaten finden Sie in den Hinweisen und Verfahren zur Erhebung von Ansprüchen bei Urheberrechtsverletzungen.</p>

<br /><br />

<h2>Online-Streitbeilegung</h2>

<br />

<p>Die EU-Kommission hat eine Internetplattform zur Online-Beilegung von Streitigkeiten geschaffen.</p>

<p>Sie kann als Anlaufstelle zur außergerichtlichen Beilegung von Streitigkeiten aus Online-Kaufverträgen oder -Dienstleistungsverträgen dienen und ist unter

<p>
    <strong><a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage" target="_blank"> Online-Streitbeilegung</a></strong> zu erreichen.
</p>

<p>cAp corporation nimmt in Deutschland jedoch nicht an fakultativen Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil.</p>

<br /><br />

<p>Für Bekanntgaben oder Zustellungen der Bundeszentrale nach § 24b Abs. 3 und 4 JuSchG an Diensteanbieter gemäß § 24a JuSchG des cAp corporation Konzerns sind als Empfangsbevollmächtigte</p>

<p>Rechtsanwälte ELBKANZLEI Dr. Nolting & Partner</p>

<p>Fachanwalt Dr. Boris H. Nolting</p>

<p>Bleichenbrücke 11, 20354 Hamburg</p>

<p>in anwaltlicher Vertretung benannt.</p>

<p>Diese Empfangsbevollmächtigung bezieht sich ausschließlich auf die genannten behördlichen Zustellungen. Zivilrechtliche oder sonstige Eingaben werden nicht bearbeitet.</p>