@{
    ViewData["Title"] = "cAp corporation";
}

<div class="text-center">
    <h1 class="display-4">Willkommen auf meiner <strong>Demontrations Web Application 2024</strong></h1>

    <br /><br />

    <h2>Weitere Lerninhalte findest Du auf : <a href="https://docs.microsoft.com/aspnet/core" target="_blank">   Web Apps entwickeln mit ASP.NET Core</a></h2>
</div>
