@{
    ViewData["Title"] = "Rechtlich geschützte Regelsätze zum internationalen Datenschutz";
}

<br />

<h1 style="text-align:center"><strong>@ViewData["Title"]</strong></h1>

<br /><br />
<br /><br />

<div class="shadow">
<ul>

<br />

<h4 style="text-align:right ">Stand: &nbsp<strong>25. Februar 2024 &nbsp</strong></h4>

<br />
    
<h5 style="text-align:left; color:darkorange"><strong><i>Die verwendeten Begriffe sind <strong>NICHT</strong> geschlechtsspezifisch !</i></strong></h5>

<br />

</ul>
</div>

<br /><br />
<br /><br />

<h2 style="text-align:right" id="m4158"><strong>Präambel</strong></h2>

<br /><br />

<div class="bg-warning">

<br />

<h3 style="text-align:center">Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als "Daten" bezeichnet) wir zu welchen Zwecken und in welchem Umfang im Rahmen der Bereitstellung unserer Applikation verarbeiten.</h3>

<br />

</div>

<br /><br />
<br /><br />

<div>
<table class="table shadow">
    <thead class="table-dark">
        <tr>
            <th>
        <h2 style="text-align:center">Inhaltsübersicht</h2>
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td style="font-size:xx-large; color:darkgray">
                    <ul class="index">
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m4158">Präambel</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m3">Verantwortlicher</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m11">Kontakt Datenschutzbeauftragter</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m27">Sicherheitsmaßnahmen</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m25">Übermittlung von personenbezogenen Daten</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m24">Internationale Datentransfers</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m12">Löschung von Daten</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m10">Rechte der betroffenen Personen</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m134">Einsatz von Cookies</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m317">Geschäftliche Leistungen</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m605">Einsatz von Online-Plattformen zu Angebots- und Vertriebszwecken</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m3575">Im Rahmen der Geschäftstätigkeit eingesetzte Anbieter und Services</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m326">Zahlungsverfahren</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m225">Bereitstellung des Onlineangebotes und Webhosting</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m367">Registrierung, Anmeldung und Nutzerkonto</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m432">Community Funktionen</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m182">Kontakt- und Anfragenverwaltung</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m264">Onlinemarketing</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m136">Präsenzen in sozialen Netzwerken (Social Media)</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m328">Plugins und eingebettete Funktionen sowie Inhalte</a></li>
                    <li><a style="text-decoration:none; color:olivedrab" class="index-link" href="#m15">Änderung und Aktualisierung der Datenschutzerklärung</a></li>
                    <li><a style="text-decoration:none; color:tomato" class="index-link" href="#m42">Begriffsdefinitionen</a></li>
                </ul>
                </td>
            </tr>
    </tbody>
</table>
</div>

<br /><br />
<br /><br />

<h2 style="text-align:right; text-decoration:underline" id="m3">Verantwortlicher</h2>

<br /><br />

<h2 style="text-align:right"><strong>ELBKANZLEI Nolting & Partner</strong></h2>

<br />

<h3 style="text-align:right">Rechtsanwälte Dr. Nolting & Partner</h3>

<h3 style="text-align:right">Fachanwalt Dr. Boris H. Nolting</h3>
<h3 style="text-align:right">Bleichenbrücke 11</h3>

<br />

<h3 style="text-align:right"><strong>20354</strong> Hamburg</h3>

<br /><br />

<h2 style="text-align:right; text-decoration:underline"; id="m11">Kontakt Datenschutzbeauftragter</h2>

<br />

<h4 style="text-align:right"><a href="mailto:rae@elbkanzlei.com" style="color:orangered; text-decoration:none"><strong>rae@elbkanzlei.com</strong></a></h4>

<br /><br />
<br /><br />

<h2 id="mOverview"><strong>Übersicht der Verarbeitungen</strong></h2>

<br /><br />

<h5 style="text-align:center">Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen Personen.</h5>

<br /><br />

<h3 class="bg-dark" style="color:white">&nbsp Arten der verarbeiteten Daten</h3>

<div class="shadow">
<ul>
    <li>Bestandsdaten.</li>
    <li>Zahlungsdaten.</li>
    <li>Standortdaten.</li>
    <li>Kontaktdaten.</li>
    <li>Inhaltsdaten.</li>
    <li>Vertragsdaten.</li>
    <li>Nutzungsdaten.</li>
    <li>Meta-, Kommunikations- und Verfahrensdaten.</li>

    <br />

</ul>
</div>

<br />

<h3 class="bg-dark" style="color:white">&nbsp Kategorien betroffener Personen</h3>

<div class="shadow">
<ul>
    <li>Kunden.</li>
    <li>Interessenten.</li>
    <li>Kommunikationspartner.</li>
    <li>Nutzer.</li>
    <li>Geschäfts- und Vertragspartner.</li>
    <li>Schüler/ Studenten/ Teilnehmer.</li>

    <br />

</ul>
</div>

<br />

<h3 class="bg-dark" style="color:white">&nbsp Zwecke der Verarbeitung</h3>

<div class="shadow">
<ul>
    <li>Erbringung vertraglicher Leistungen und Erfüllung vertraglicher Pflichten.</li>
    <li>Kontaktanfragen und Kommunikation.</li>
    <li>Sicherheitsmaßnahmen.</li>
    <li>Reichweitenmessung.</li>
    <li>Tracking.</li>
    <li>Büro- und Organisationsverfahren.</li>
    <li>Konversionsmessung.</li>
    <li>Verwaltung und Beantwortung von Anfragen.</li>
    <li>Feedback.</li>
    <li>Marketing.</li>
    <li>Profile mit nutzerbezogenen Informationen.</li>
    <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
    <li>Informationstechnische Infrastruktur.</li>

    <br />

</ul>
</div>

<br /><br />
<br /><br />

<h2 style="text-align:center"; id="m2427">Maßgebliche Rechtsgrundlagen</h2>

<br />
<br /><br />

<h5>Maßgebliche Rechtsgrundlagen nach der <strong>Datenschutz-Grundverordnung</strong></h5>

<p>Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten verarbeiten.</p>

<br />

<h3 style="color:red"><strong>Bitte nehmen Sie zur Kenntnis, dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten können !</strong></h3>

<br /><br />

<h4 style="text-align:center"><strong>Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit !</strong></h4>

<br /><br />

<div class="shadow">
<ul>
    
<br />
    
    <li><strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO)</strong><br /> - Die betroffene Person hat ihre Einwilligung in die Verarbeitung der sie betreffenden personenbezogenen Daten für einen spezifischen Zweck oder mehrere bestimmte Zwecke gegeben.</li>
    <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</strong><br /> - Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung vorvertraglicher Maßnahmen<br /> erforderlich, die auf Anfrage der betroffenen Person erfolgen.</li>
    <li><strong>Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c) DSGVO)</strong><br /> - Die Verarbeitung ist zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der der Verantwortliche unterliegt.</li>
    <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong><br /> - Die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.</li>

<br />

</ul>
</div>

<br /><br />
<br /><br />

<div class="bg-warning">
<ul>

<br />

<h4 style="text-align:center"><strong>Nationale Datenschutzregelungen in Lichtenstein : </strong></h4>

<h5 style="text-align:center"><strong>Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale Regelungen zum Datenschutz in Lichtenstein.<br />
 Hierzu gehören insbesondere das Datenschutzgesetz (DSG) sowie die Datenschutzverordnung (DSV).</strong></h5>

<br />

</ul>
</div>

<br />
<br /><br />

<div class="shadow">
<ul>

<br />

<h2 id="m27">Sicherheitsmaßnahmen</h2>

<br />

<p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung
sowie der unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten<br /> natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten.</p>

<p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung.

<br />

Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung der Daten gewährleisten.

<br />

Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.</p>

<p><strong>Kürzung der IP-Adresse :</strong>

<br />

Sofern IP-Adressen von uns oder von den eingesetzten Dienstleistern und Technologien verarbeitet werden und die Verarbeitung einer vollständigen IP-Adresse nicht erforderlich ist, wird die IP-Adresse gekürzt (auch als "IP-Masking" bezeichnet).

<br />

Hierbei werden die letzten beiden Ziffern, bzw. der letzte Teil der IP-Adresse nach einem Punkt entfernt, bzw. durch Platzhalter ersetzt.

<br />

Mit der Kürzung der IP-Adresse soll die Identifizierung einer Person anhand ihrer IP-Adresse verhindert oder wesentlich erschwert werden.</p>

<p><strong>TLS/SSL-Verschlüsselung (https) :</strong>

<br />

Um die Daten der Benutzer, die über unsere Online-Dienste übertragen werden, zu schützen, verwenden wir TLS/SSL-Verschlüsselung.

<br />

Secure Sockets Layer (SSL) ist die Standardtechnologie zur Sicherung von Internetverbindungen durch Verschlüsselung der zwischen einer Website oder App und einem Browser (oder zwischen zwei Servern) übertragenen Daten.

<br />

Transport Layer Security (TLS) ist eine aktualisierte und sicherere Version von SSL.

<br />

Hyper Text Transfer Protocol Secure (HTTPS) wird in der URL angezeigt, wenn eine Website durch ein SSL/TLS-Zertifikat gesichert ist.</p>

<br />

</ul>
</div>

<br /><br />

<div class="shadow">
<ul>

<br />

<h2 id="m25">Übermittlung von personenbezogenen Daten</h2>

<p>Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass die Daten an andere Stellen, Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen übermittelt oder sie ihnen gegenüber offengelegt werden.

<br />

Zu den Empfängern dieser Daten können z. B. mit IT-Aufgaben beauftragte Dienstleister oder Anbieter von Diensten und Inhalten, die in eine Webseite eingebunden werden, gehören.

<br />

In solchen Fällen beachten wir die gesetzlichen Vorgaben und schließen insbesondere entsprechende Verträge bzw. Vereinbarungen, die dem Schutz Ihrer Daten dienen, mit den Empfängern Ihrer Daten ab.</p>

<p><strong>Datenübermittlung innerhalb der Organisation :</strong>

<br />

Wir können personenbezogene Daten an andere Stellen innerhalb unserer Organisation übermitteln oder ihnen den Zugriff auf diese Daten gewähren.

<br />

Sofern diese Weitergabe zu administrativen Zwecken erfolgt, beruht die Weitergabe der Daten auf unseren berechtigten unternehmerischen und betriebswirtschaftlichen Interessen oder erfolgt, sofern sie Erfüllung unserer vertragsbezogenen Verpflichtungen erforderlich ist oder wenn eine Einwilligung der Betroffenen oder eine gesetzliche Erlaubnis vorliegt.</p>

<br />

</ul>
</div>

<br /><br />

<div class="shadow">
<ul>

 <br />

<h2 id="m24">Internationale Datentransfers</h2>

<p><strong>Datenverarbeitung in Drittländern :</strong>

<br />

Sofern wir Daten in einem Drittland (d.h., außerhalb der Europäischen Union (EU), des Europäischen Wirtschaftsraums (EWR) verarbeiten oder die Verarbeitung im Rahmen der Inanspruchnahme von Diensten Dritter oder der Offenlegung bzw. Übermittlung von Daten an andere Personen, Stellen oder Unternehmen stattfindet, erfolgt dies nur im Einklang mit den gesetzlichen Vorgaben.

<br />

Sofern das Datenschutzniveau in dem Drittland mittels eines Angemessenheitsbeschlusses anerkannt wurde (Art. 45 DSGVO), dient dieser als Grundlage des Datentransfers.

<br />

Im Übrigen erfolgen Datentransfers nur dann, wenn das Datenschutzniveau anderweitig gesichert ist, insbesondere durch Standardvertragsklauseln (Art. 46 Abs. 2 lit. c) DSGVO), ausdrückliche Einwilligung oder im Fall vertraglicher oder gesetzlich erforderlicher Übermittlung (Art. 49 Abs. 1 DSGVO).

<br />

Im Übrigen teilen wir Ihnen die Grundlagen der Drittlandübermittlung bei den einzelnen Anbietern aus dem Drittland mit, wobei die Angemessenheitsbeschlüsse als Grundlagen vorrangig gelten.

<br />

Informationen zu Drittlandtransfers und vorliegenden Angemessenheitsbeschlüssen können dem Informationsangebot der EU-Kommission entnommen werden :

<h5 style="text-align:center"><strong><a href=" https: //commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection/rules-international-data-transfers_en?prefLang=de&etrans=de" target="_blank" style="text-decoration:none">Vorschriften für internationale Datenübermittlungen der europäischen Union</a></strong></h5>

<br /><br />

<p><strong>EU-US Trans-Atlantic Data Privacy Framework :</strong><br />
    
Im Rahmen des sogenannten „Data Privacy Framework" (DPF) hat die EU-Kommission das Datenschutzniveau ebenfalls für bestimmte Unternehmen aus den USA im Rahmen der Angemessenheitsbeschlusses vom 10.07.2023 als sicher anerkannt.

<br />

Die Liste der zertifizierten Unternehmen als auch weitere Informationen zu dem DPF können Sie der Webseite des Handelsministeriums der USA unter</p>

<h5 style="text-align:center"><strong><a href="https://www.dataprivacyframework.gov/" target="_blank" style="text-decoration:none">Data Privacy Framework</a></strong> (in Englisch) entnehmen.</h5>

<br />

<p class="bg-dark" style="color:white; text-align:center"><strong>Wir informieren Sie im Rahmen der Datenschutzhinweise, welche von uns eingesetzten Diensteanbieter unter dem Data Privacy Framework zertifiziert sind !</strong></p>

<br />

</ul>
</div>

<br /><br />

<div class="bg-warning">
<ul>

<br />

<h2 id="m12"><strong>Löschung von Daten</strong></h2>

<p><strong>Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht, sobald deren zur Verarbeitung erlaubten Einwilligungen widerrufen werden oder sonstige Erlaubnisse entfallen (z. B. wenn der Zweck der Verarbeitung dieser Daten entfallen ist oder sie für den Zweck nicht erforderlich sind).

<br />

Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung auf diese Zwecke beschränkt.

<br />

D.h., die Daten werden gesperrt und nicht für andere Zwecke verarbeitet.

<br />

Das gilt z. B. für Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren Speicherung zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person erforderlich ist.

<br />

Unsere Datenschutzhinweise können ferner weitere Angaben zu der Aufbewahrung und Löschung von Daten beinhalten, die für die jeweiligen Verarbeitungen vorrangig gelten.</strong></p>

<br />

</ul>
</div>

<br />
<br /><br />

<h2 id="m10">Rechte der betroffenen Personen</h2>

<p><strong>Rechte der betroffenen Personen aus der DSGVO :</strong></p>

<br />

<h3 style="color:orangered; text-align:center">Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, <br />die sich insbesondere aus Art. 15 bis 21 DSGVO ergeben :</h3>

<br /><br />

<div class="shadow">
<ul>
    
<br />

<li><strong>Widerspruchsrecht :</strong><br />
            Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen;
            dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling.<br />
            Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen;
            dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.<br />
    </li>

    <br />

    <li><strong>Widerrufsrecht bei Einwilligungen :</strong><br />
        Sie haben das Recht, erteilte Einwilligungen jederzeit zu widerrufen.<br />
        
<br />
    </li>

<li><strong>Auskunftsrecht :</strong><br />
        Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der Daten entsprechend den gesetzlichen Vorgaben.<br />
        
<br />
    </li>

<li><strong>Recht auf Berichtigung :</strong><br />
        Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.<br />
        
 <br />
    </li>
 
<li><strong>Recht auf Löschung und Einschränkung der Verarbeitung :</strong><br />
        Sie haben nach Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden, bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu verlangen.<br />
        
<br />
    </li>

<li><strong>Recht auf Datenübertragbarkeit :</strong><br />
        Sie haben das Recht, Sie betreffende Daten, die Sie uns bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu fordern.<br />
      
<br />
    </li>

<li><strong>Beschwerde bei Aufsichtsbehörde :</strong><br />
        Sie haben unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die Vorgaben der DSGVO verstößt.<br />
      
<br />
    </li>

</ul>
</div>

<br /><br />

<h2 id="m134">Einsatz von Cookies</h2>

<h5 style="text-align:center"><strong>Cookies sind kleine Textdateien, bzw. sonstige Speichervermerke, die Informationen auf Endgeräten speichern und Informationen aus den Endgeräten auslesen.</strong></h5>

<br />

<p>z.B. um den Login-Status in einem Nutzerkonto, einen Warenkorbinhalt in einem E-Shop, die aufgerufenen Inhalte oder verwendete Funktionen eines Onlineangebotes speichern.

<br />

Cookies können ferner zu unterschiedlichen Zwecken eingesetzt werden, z. B. zu Zwecken der Funktionsfähigkeit, Sicherheit und Komfort von Onlineangeboten sowie der Erstellung von Analysen der Besucherströme.</p>

<br />

<h3 style="color:orangered"><strong>Hinweise zur Einwilligung :</strong></h3>

<br />

<p>Wir setzen Cookies im Einklang mit den gesetzlichen Vorschriften ein.</p>

<p>Daher holen wir von den Nutzern eine vorhergehende Einwilligung ein, außer wenn diese gesetzlich nicht gefordert ist.</p>

<p>Eine Einwilligung ist insbesondere nicht notwendig, wenn das Speichern und das Auslesen der Informationen, also auch von Cookies, unbedingt erforderlich sind, um dem den Nutzern einen von ihnen ausdrücklich gewünschten Telemediendienst (also unser Onlineangebot) zur Verfügung zu stellen.</p>

<p>Zu den unbedingt erforderlichen Cookies gehören in der Regel Cookies mit Funktionen, die der Anzeige und Lauffähigkeit des Onlineangebotes , dem Lastausgleich, der Sicherheit, der Speicherung der Präferenzen und Auswahlmöglichkeiten der Nutzer oder ähnlichen mit der Bereitstellung der Haupt- und Nebenfunktionen des von den Nutzern angeforderten Onlineangebotes zusammenhängenden Zwecken dienen.</p>

<p><strong>Die widerrufliche Einwilligung wird gegenüber den Nutzern deutlich kommuniziert und enthält die Informationen zu der jeweiligen Cookie-Nutzung !</strong></p>

<br />

<div class="bg-dark" style="text-align:center">
<ul>
    
<br />

<h5 style="color:orangered"><strong>Hinweise zu datenschutzrechtlichen Rechtsgrundlagen :</strong><h5 /><br />

<p style="color:white">Auf welcher datenschutzrechtlichen Rechtsgrundlage<br />wir die personenbezogenen Daten der Nutzer mit Hilfe von Cookies verarbeiten,<br />hängt davon ab, ob wir Nutzer um eine Einwilligung bitten.</p>

<p style="color:white">Falls die Nutzer einwilligen, ist die Rechtsgrundlage der Verarbeitung Ihrer Daten die erklärte Einwilligung.</p>

<p style="color:white">Andernfalls werden die mithilfe von Cookies verarbeiteten Daten auf Grundlage unserer berechtigten Interessen<br />(z. B. an einem betriebswirtschaftlichen Betrieb unseres Onlineangebotes und Verbesserung seiner Nutzbarkeit) verarbeitet oder, <br />wenn dies im Rahmen der Erfüllung unserer vertraglichen Pflichten erfolgt, wenn der Einsatz von Cookies erforderlich ist, <br />um unsere vertraglichen Verpflichtungen zu erfüllen.</p>

<p style="color:white">Zu welchen Zwecken die Cookies von uns verarbeitet werden, <br />darüber klären wir im Laufe dieser Datenschutzerklärung oder im Rahmen von unseren <br />Einwilligungs- und Verarbeitungsprozessen auf.</p>

<br />
</ul>
</div>

<br />
<br /><br />

<div class="shadow">
<ul>

<br />

<h2>Speicherdauer</h2>

<br />

<p>Im Hinblick auf die Speicherdauer werden die folgenden Arten von Cookies unterschieden :</p>

<li><strong>Temporäre Cookies (auch: Session- oder Sitzungs-Cookies) :</strong><br />

Temporäre Cookies werden spätestens gelöscht, nachdem ein Nutzer ein Online-Angebot verlassen und sein Endgerät (z. B. Browser oder mobile Applikation) geschlossen hat.</li><br />

<li><strong>Permanente Cookies :</strong>

<br />

Permanente Cookies bleiben auch nach dem Schließen des Endgerätes gespeichert.

<br />

 So können beispielsweise der Login-Status gespeichert oder bevorzugte Inhalte direkt angezeigt werden, wenn der Nutzer eine Website erneut besucht.

<br />

Ebenso können die mit Hilfe von Cookies erhobenen Daten der Nutzer zur Reichweitenmessung verwendet werden.

<br /><br />

<strong>Sofern wir Nutzern keine expliziten Angaben zur Art und Speicherdauer von Cookies mitteilen (z. B. im Rahmen der Einholung der Einwilligung), sollten Nutzer davon ausgehen, dass Cookies permanent sind und die Speicherdauer bis zu zwei Jahre betragen kann.</strong>
    
</li>

<br />

</ul>
</div>

<br /><br />

<div class="shadow">
<ul>

<br />

<p><strong>Allgemeine Hinweise zum Widerruf und Widerspruch (sog. "Opt-Out") :</strong><br />
Nutzer können die von ihnen abgegebenen Einwilligungen jederzeit widerrufen und der Verarbeitung entsprechend den gesetzlichen Vorgaben widersprechen.

<br />

Hierzu können Nutzer unter anderem die Verwendung von Cookies in den Einstellungen ihres Browsers einschränken (wobei dadurch auch die Funktionalität unseres Onlineangebotes eingeschränkt sein kann).</p>

<p>Ein Widerspruch gegen die Verwendung von Cookies zu Online-Marketing-Zwecken kann auch über die Websites</p><br /> 

<h5 style="text-align:center"><a href="https://optout.aboutads.info/" target="_new" style="text-decoration:none"><strong>Digital Advertising Alliance's Consumer Choice Tool for Web</strong></a></h5>
    
<p style="text-align:center">und</p>

<h5 style="text-align:center"><a href="https://www.youronlinechoices.com/" target="_new" style="text-decoration:none"><strong>Your Online Choices</strong></a></h5>

<p style="text-align:center">erklärt werden !</p>

<br />

</ul>
</div>

<br /><br />

<ul class="m-elements">

<li class=""><strong>Rechtsgrundlagen :</strong><br />
        
Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO). Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO).
    
</li>
</ul>

<br />

<h5 style="text-align:center"><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten</strong></h5>

<br />

<ul class="m-elements">
    
<li><strong>Verarbeitung von Cookie-Daten auf Grundlage einer Einwilligung :</strong>

<br /><br />

<p class="bg-warning" style="text-align:center"><strong>Wir setzen ein Verfahren zum Einwilligungsmanagement ein !</strong></p>

<br />

<div class="shadow">
<ul>

<br />

<p style="text-align:center"><strong>Verfahren zur Einholung, Protokollierung, Verwaltung und des Widerrufs von Einwilligungen, insbesondere für den Einsatz von Cookies und ähnlichen<br /> Technologien zur Speicherung, Auslesen und Verarbeitung von Informationen auf Endgeräten der Nutzer sowie deren Verarbeitung ein,<br /> in dessen Rahmen die Einwilligungen der Nutzer in den Einsatz von Cookies, bzw. der im Rahmen des Einwilligungsmanagement :</strong></p>

<br />

<p style="text-align:center"><strong>Verfahren zur Einholung, Protokollierung, Verwaltung und des Widerrufs von Einwilligungen, insbesondere für den Einsatz von Cookies und ähnlichen<br />Technologien zur Speicherung, Auslesen und Verarbeitung von Informationen auf Endgeräten der Nutzer sowie deren Verarbeitung-Verfahrens genannten Verarbeitungen und Anbieter eingeholt sowie von den Nutzern verwaltet und widerrufen werden können.</strong></p>

<br />

<p style="text-align:center"><strong>Hierbei wird die Einwilligungserklärung gespeichert, um deren Abfrage nicht erneut wiederholen zu müssen und die Einwilligung entsprechend<br />der gesetzlichen Verpflichtung nachweisen zu können.</strong></p>

<br />

<p style="text-align:center"><strong>Die Speicherung kann serverseitig und/oder in einem Cookie (sogenanntes Opt-In-Cookie, bzw. mithilfe vergleichbarer Technologien) erfolgen,<br />um die Einwilligung einem Nutzer, bzw. dessen Gerät zuordnen zu können.</strong></p>

<br />

<p style="text-align:center"><strong>Vorbehaltlich individueller Angaben zu den Anbietern von Cookie-Management-Diensten, gelten die folgenden Hinweise :</strong></p>

<br />

<p style="text-align:center"><strong>Die Dauer der Speicherung der Einwilligung kann bis zu zwei Jahren betragen !</strong></p>

<br />

<p style="text-align:center"><strong>Hierbei wird ein pseudonymer Nutzer-Identifikator gebildet und mit dem Zeitpunkt der Einwilligung, Angaben zur Reichweite der Einwilligung (z. B. welche Kategorien von Cookies und/oder Diensteanbieter) sowie dem Browser, System und verwendeten Endgerät gespeichert.</strong></p>

<br />
</ul>
</div>

<br /><br />

 <ul class="m-elements">
            
<p><strong>Rechtsgrundlagen :</strong><br />
Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO)</p>

    </ul>

<br />

<div class="shadow">
<ul>

<br />

<h2 id="m317">Geschäftliche Leistungen</h2>

<br />

<p>Wir verarbeiten Daten unserer Vertrags- und Geschäftspartner, z. B. Kunden und Interessenten (zusammenfassend bezeichnet als "Vertragspartner") im Rahmen von vertraglichen und vergleichbaren Rechtsverhältnissen sowie damit verbundenen Maßnahmen und im Rahmen der Kommunikation mit den Vertragspartnern (oder vorvertraglich), z. B., um Anfragen zu beantworten.</p>

<p>Wir verarbeiten diese Daten, um unsere vertraglichen Verpflichtungen zu erfüllen.

<br />

Dazu gehören insbesondere die Verpflichtungen zur Erbringung der vereinbarten Leistungen, etwaige Aktualisierungspflichten<br />und Abhilfe bei Gewährleistungs- und sonstigen Leistungsstörungen.

<br />

Darüber hinaus verarbeiten wir die Daten zur Wahrung unserer Rechte und zum Zwecke der mit diesen Pflichten verbundenen Verwaltungsaufgaben sowie der Unternehmensorganisation.

<br />

Darüber hinaus verarbeiten wir die Daten auf Grundlage unserer berechtigten Interessen an einer ordnungsgemäßen und betriebswirtschaftlichen<br />Geschäftsführung sowie an Sicherheitsmaßnahmen zum Schutz unserer Vertragspartner und unseres Geschäftsbetriebes vor Missbrauch, <br />Gefährdung ihrer Daten, Geheimnisse, Informationen und Rechte (z. B. zur Beteiligung von Telekommunikations-, Transport- und sonstigen Hilfsdiensten sowie Subunternehmern, Banken, Steuer- und Rechtsberatern, Zahlungsdienstleistern oder Finanzbehörden).

<br />

Im Rahmen des geltenden Rechts geben wir die Daten von Vertragspartnern nur insoweit an Dritte weiter, <br />als dies für die vorgenannten Zwecke oder zur Erfüllung gesetzlicher Pflichten erforderlich ist.

<br />

Über weitere Formen der Verarbeitung, z. B. zu Marketingzwecken, werden die Vertragspartner im Rahmen dieser Datenschutzerklärung informiert.</p>

<p>Welche Daten für die vorgenannten Zwecke erforderlich sind, teilen wir den Vertragspartnern vor oder im Rahmen der Datenerhebung, z. B. in Onlineformularen, durch besondere Kennzeichnung (z. B. Farben) bzw. Symbole (z. B. Sternchen o.ä.), oder persönlich mit.</p>

<p>Wir löschen die Daten nach Ablauf gesetzlicher Gewährleistungs- und vergleichbarer Pflichten, d. h., grundsätzlich nach Ablauf von 4 Jahren, es sei denn, dass die Daten in einem Kundenkonto gespeichert werden, z. B., solange sie aus gesetzlichen Gründen der Archivierung aufbewahrt werden müssen.

<br />

Die gesetzliche Aufbewahrungsfrist beträgt bei steuerrechtlich relevanten Unterlagen sowie bei Handelsbüchern, Inventaren, Eröffnungsbilanzen, Jahresabschlüssen, die zum Verständnis dieser Unterlagen erforderlichen Arbeitsanweisungen und sonstigen Organisationsunterlagen und Buchungsbelegen zehn Jahre <br />sowie bei empfangenen Handels- und Geschäftsbriefen und Wiedergaben der abgesandten Handels- und Geschäftsbriefe sechs Jahre.

<br />

Die Frist beginnt mit Ablauf des Kalenderjahres, in dem die letzte Eintragung in das Buch gemacht, das Inventar, die Eröffnungsbilanz, der Jahresabschluss oder der Lagebericht aufgestellt, der Handels- oder Geschäftsbrief empfangen oder abgesandt worden oder der Buchungsbeleg entstanden ist, <br />ferner die Aufzeichnung vorgenommen worden ist oder die sonstigen Unterlagen entstanden sind.</p>

<p>Soweit wir zur Erbringung unserer Leistungen Drittanbieter oder Plattformen einsetzen, gelten im Verhältnis zwischen den Nutzern und den Anbietern die Geschäftsbedingungen und Datenschutzhinweise der jeweiligen Drittanbieter oder Plattformen.</p>

<br />

</ul>
</div>

<br /><br />

<div class="bg-dark" style="color:white">

<br />

<ul class="m-elements">
    <partial>
        <li>
            <strong>Verarbeitete Datenarten :</strong>

                <br />

            Bestandsdaten (z. B. Namen, Adressen), Zahlungsdaten (z. B. Bankverbindungen, Rechnungen, Zahlungshistorie)

                <br />

            Kontaktdaten (z. B. E-Mail, Telefonnummern)

                <br />

            Vertragsdaten (z. B. Vertragsgegenstand, Laufzeit, Kundenkategorie)

                <br />

            Nutzungsdaten (z. B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten)

                <br />

            Meta-, Kommunikations- und Verfahrensdaten (z. .B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus)
        </li>

            <br />

        <li>
            <strong>Betroffene Personen :</strong>

                <br />

            Kunden

                <br />

            Interessenten

                <br />

            Geschäfts- und Vertragspartner

                <br />

            Schüler/ Studenten/ Teilnehmer
        </li>

            <br />

        <li>
            <strong>Zwecke der Verarbeitung :</strong>

                <br />

            Erbringung vertraglicher Leistungen und Erfüllung vertraglicher Pflichten

                <br />

            Sicherheitsmaßnahmen

                <br />

            Kontaktanfragen und Kommunikation

                <br />

            Büro- und Organisationsverfahren

                <br />

            Verwaltung und Beantwortung von Anfragen

                <br />

            Konversionsmessung (Messung der Effektivität von Marketingmaßnahmen)

                <br />

            Profile mit nutzerbezogenen Informationen (Erstellen von Nutzerprofilen)
        </li>

            <br />

        <li class="">
            <strong>Rechtsgrundlagen :</strong>

                <br />

            Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)

                <br />

            Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c) DSGVO)

                <br />

            Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)
        </li>

    </partial>

</ul>

    <br />

</div>

<br /><br />

<div class="shadow">

    <br />

<h5 style="text-align:center"><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten :</strong></h5>

<br />

<ul class="m-elements">

<li><strong>Kundenkonto : </strong>

<br />

Kunden können innerhalb unseres Onlineangebotes ein Konto anlegen (z. B. Kunden- bzw. Nutzerkonto, kurz "Kundenkonto")

<br />

Falls die Registrierung eines Kundenkontos erforderlich ist, werden Kunden hierauf ebenso hingewiesen wie auf die für die Registrierung erforderlichen Angaben

<br />

Die Kundenkonten sind nicht öffentlich und können von Suchmaschinen nicht indexiert werden

<br />

Im Rahmen der Registrierung sowie anschließender Anmeldungen und Nutzungen des Kundenkontos speichern wir die IP-Adressen der Kunden nebst den Zugriffszeitpunkten, um die Registrierung nachweisen und etwaigem Missbrauch des Kundenkontos vorbeugen zu können

<br />

Wurde das Kundenkonto gekündigt, werden die Daten des Kundenkontos nach dem Kündigungszeitpunkt gelöscht, <br />sofern sie nicht für andere Zwecke als die Bereitstellung im Kundenkonto aufbewahrt werden oder aus rechtlichen Gründen aufbewahrt werden müssen <br />(z. B. interne Speicherung von Kundendaten, Bestellvorgängen oder Rechnungen)

<br />

Es liegt in der Verantwortung der Kunden, ihre Daten bei Kündigung des Kundenkontos zu sichern

<br />

<span class=""><strong>Rechtsgrundlagen :</strong>
            
Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)

<br /><br />

</span>
    </li>

        <li>
            <strong>Wirtschaftliche Analysen und Marktforschung : <br /></strong>



        Aus betriebswirtschaftlichen Gründen und um Markttendenzen, Wünsche der Vertragspartner und Nutzer erkennen zu können, <br />analysieren wir die uns vorliegenden Daten zu Geschäftsvorgängen, Verträgen, Anfragen, etc., <br />wobei in die Gruppe der betroffenen Personen Vertragspartner, Interessenten, Kunden, Besucher und Nutzer unseres Onlineangebotes fallen können.<br />
        Die Analysen erfolgen zum Zweck betriebswirtschaftlicher Auswertungen, des Marketings und der Marktforschung <br />(z. B. zur Bestimmung von Kundengruppen mit unterschiedlichen Eigenschaften).
        Dabei können wir, sofern vorhanden, die Profile von registrierten Nutzern samt ihrer Angaben, z. B. zu in Anspruch genommenen Leistungen, berücksichtigen.
            Die Analysen dienen alleine uns und werden nicht extern offenbart, <br />sofern es sich nicht um anonyme Analysen mit zusammengefassten, also anonymisierten Werten handelt.
            Ferner nehmen wir Rücksicht auf die Privatsphäre der Nutzer <br />und verarbeiten die Daten zu den Analysezwecken möglichst pseudonym und, sofern machbar, anonym (z. B. als zusammengefasste Daten);

        <br>

        <span class=""><strong>Rechtsgrundlagen :</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</span>
    </li>

        <br />

    <li>
            <strong>Onlineshop, Bestellformulare, E-Commerce und Auslieferung : <br /></strong>Wir verarbeiten die Daten unserer Kunden, um ihnen die Auswahl, den Erwerb, bzw. die Bestellung der gewählten Produkte, Waren sowie verbundener Leistungen, <br />als auch deren Bezahlung und Zustellung, bzw. Ausführung zu ermöglichen.<br />
            Sofern für die Ausführung einer Bestellung erforderlich, setzen wir Dienstleister, insbesondere Post-, Speditions- und Versandunternehmen ein, um die Lieferung, <br />bzw. Ausführung gegenüber unseren Kunden durchzuführen.
            Für die Abwicklung der Zahlungsvorgänge nehmen wir die Dienste <br />von Banken und Zahlungsdienstleistern in Anspruch.<br />
        Die erforderlichen Angaben sind als solche im Rahmen des Bestell- bzw. vergleichbaren Erwerbsvorgangs gekennzeichnet und umfassen die zur Auslieferung, bzw. Zurverfügungstellung und Abrechnung benötigten Angaben sowie Kontaktinformationen, um etwaige Rücksprache halten zu können.

        <br>

        <span class="">
            <strong>Rechtsgrundlagen :</strong>
                Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
        </span>

            <br /><br />

    </li>

    <li>
        <strong>
                Bildungs- und Schulungsleistungen :<br />
            </strong>Wir verarbeiten die Daten der Teilnehmer unserer Bildungs- und Schulungsangebote (einheitlich bezeichnet als "Aus- und Fortzubildende"), <br />um ihnen gegenüber unsere Schulungsleistungen erbringen zu können.<br />
            Die hierbei verarbeiteten Daten, die Art, der Umfang, der Zweck und die Erforderlichkeit ihrer Verarbeitung bestimmen sich nach dem zugrundeliegenden <br />Vertrags- und Schulungsverhältnis.<br />
            Zu den Verarbeitungsformen gehören auch die Leistungsbewertung und die Evaluation unserer Leistungen sowie jener der Lehrenden.<br />
            In Rahmen unserer Tätigkeit können wir ferner besondere Kategorien von Daten, hier insbesondere Angaben zur Gesundheit der Aus- und Fortzubildenden <br />sowie Daten, aus denen die ethnische Herkunft, politische Meinungen, religiöse oder weltanschauliche Überzeugungen hervorgehen, verarbeiten.<br />
            Hierzu holen wir, sofern erforderlich, eine ausdrückliche Einwilligung der Aus- und Fortzubildenden ein und verarbeiten die besonderen Kategorien <br />von Daten ansonsten nur, wenn es zur Erbringung der Schulungsleistungen, zu Zwecken der Gesundheitsvorsorge, des Sozialschutzes oder des Schutzes <br />lebensnotwendiger Interessen der Aus- und Fortzubildenden erforderlich ist.<br />

        <span class="">
            <strong>
                Rechtsgrundlagen :
            </strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
        </span>
    </li>

        <br />
    <li>
        <strong>
                Projekt- und Entwicklungsleistungen :<br />
            </strong>Wir verarbeiten die Daten unserer Kunden sowie Auftraggeber (nachfolgend einheitlich als "Kunden" bezeichnet), um ihnen die Auswahl, den Erwerb <br />bzw. die Beauftragung der gewählten Leistungen oder Werke sowie verbundener Tätigkeiten als auch deren Bezahlung und Zurverfügungstellung <br />bzw. Ausführung oder Erbringung zu ermöglichen.

        <br />

        Die erforderlichen Angaben sind als solche im Rahmen des Auftrags-, Bestell- bzw. vergleichbaren Vertragsschlusses gekennzeichnet und umfassen die zur Leistungserbringung und Abrechnung benötigten Angaben sowie Kontaktinformationen, um etwaige Rücksprachen halten zu können.

        <br>

            Soweit wir Zugang zu Informationen der Endkunden, Mitarbeitern oder anderer Personen erhalten, verarbeiten wir diese im Einklang <br />mit den gesetzlichen und vertraglichen Vorgaben.

        <br />

        <span class="">
            <strong>
                Rechtsgrundlagen :
            </strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
        </span>
    </li>

        <br />

    <li>
            <strong>Angebot von Software- und Plattformleistungen : </strong><br />Wir verarbeiten die Daten unserer Nutzer, angemeldeter und etwaiger Testnutzer (nachfolgend einheitlich als "Nutzer" bezeichnet), um ihnen gegenüber unsere vertraglichen Leistungen erbringen zu können sowie auf Grundlage berechtigter Interessen, um die Sicherheit unseres Angebotes gewährleisten und es weiterentwickeln zu können.
        Die erforderlichen Angaben sind als solche im Rahmen des Auftrags-, Bestell- bzw. vergleichbaren Vertragsschlusses gekennzeichnet und umfassen die zur Leistungserbringung und Abrechnung benötigten Angaben sowie Kontaktinformationen, um etwaige Rücksprachen halten zu können.

            <br />

        <span class="">
            <strong>
                Rechtsgrundlagen :
                </strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
        </span>
    </li>

        <br />

</ul>
</div>

<br /><br />

<h2 id="m605">Einsatz von Online-Plattformen zu Angebots- und Vertriebszwecken</h2>

<br />

<p>Wir bieten unsere Leistungen auf Online-Plattformen, die von anderen Dienstanbietern betrieben werden, an. In diesem Zusammenhang gelten zusätzlich zu unseren Datenschutzhinweisen die Datenschutzhinweise der jeweiligen Plattformen.
    Dies gilt insbesondere im Hinblick auf die Durchführung des Zahlungsvorgangs und der auf den Plattformen eingesetzten Verfahren zur Reichweitemessung und zum interessensbezogenen Marketing.</p>

<br />

<div class="bg-dark" style="color:white">

    <br />

<ul class="m-elements">
    <li>
        <strong>Verarbeitete Datenarten :</strong><br />
        Bestandsdaten (z. B. Namen, Adressen)<br />
        Zahlungsdaten (z. B. Bankverbindungen, Rechnungen, Zahlungshistorie)<br />
        Kontaktdaten (z. B. E-Mail, Telefonnummern)<br />
        Vertragsdaten (z. B. Vertragsgegenstand, Laufzeit, Kundenkategorie)<br />
        Nutzungsdaten (z. B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten)<br />
        Meta-, Kommunikations- und Verfahrensdaten (z. .B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus)<br /><br />
    </li>
    <li>
        <strong>Betroffene Personen :</strong><br />
        Kunden<br /><br />
        </li>
    <li>
        <strong>Zwecke der Verarbeitung :</strong><br />
        Erbringung vertraglicher Leistungen und Erfüllung vertraglicher Pflichten<br />
        Marketing<br /><br />
    </li>
    <li class="">
        <strong>Rechtsgrundlagen :</strong>
        Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
    </li>
</ul>

    <br />

</div>

<br /><br />

<h2 id="m3575">Im Rahmen der Geschäftstätigkeit eingesetzte Anbieter und Services</h2>

<br />

<p>
    Im Rahmen unserer Geschäftstätigkeit nutzen wir unter Beachtung der gesetzlichen Vorgaben zusätzliche Dienste, Plattformen, Schnittstellen oder <br />Plug-ins von Drittanbietern (kurz "Dienste").<br />
    Deren Nutzung beruht auf unseren Interessen an einer ordnungsgemäßen, rechtmäßigen und wirtschaftlichen Führung unseres Geschäftsbetriebs und unserer internen Organisation.</p>

<br />

<div class="bg-dark" style="color:white">
<ul class="m-elements">

<br />

    <li>

            <strong>Verarbeitete Datenarten :</strong><br />
                    Bestandsdaten (z. B. Namen, Adressen)<br />
                    Zahlungsdaten (z. B. Bankverbindungen, Rechnungen, Zahlungshistorie<br />
                    Kontaktdaten (z. B. E-Mail, Telefonnummern)<br />
                    Inhaltsdaten (z. B. Eingaben in Onlineformularen)<br />
                    Vertragsdaten (z. .B. Vertragsgegenstand, Laufzeit, Kundenkategorie<br />
    </li>

    <br />

    <li>
                    <strong>Betroffene Personen :</strong><br />
                    Kunden<br />
                    Interessenten<br />
                    Nutzer (z. B. Webseitenbesucher<br />
                    Nutzer von Geschäfts- und Vertragspartner<br />
    </li>
    <li>
                    <strong>Zwecke der Verarbeitung :</strong><br />
                    Erbringung vertraglicher Leistungen und Erfüllung vertraglicher Pflichten<br />
                    Büro- und Organisationsverfahren<br />
    </li>

<br />

    <li class="">
                    <strong>Rechtsgrundlagen :</strong><br />
        Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)
    </li>

<br />

</ul>
</div>

<br /><br />
<br /><br />

<h2 id="m326"><strong>Zahlungsverfahren</strong></h2>

<br />

<p>Im Rahmen von Vertrags- und sonstigen Rechtsbeziehungen, aufgrund gesetzlicher Pflichten oder sonst auf Grundlage unserer berechtigten Interessen bieten wir den betroffenen Personen effiziente und sichere Zahlungsmöglichkeiten an und setzen hierzu neben Banken und Kreditinstituten <br />weitere Dienstleister ein (zusammenfassend "Zahlungsdienstleister").</p>

<br />

<h3 class="bg-black" style="color:red; text-align:center"><br /><strong>Zu den durch die Zahlungsdienstleister verarbeiteten Daten gehören <br />Bestandsdaten, wie z. B. der Name und die Adresse, Bankdaten, <br />wie z. B. Kontonummern oder Kreditkartennummern, Passwörter, TANs und Prüfsummen <br />sowie die Vertrags-, Summen- und empfängerbezogenen Angaben !</strong><br /><br /></h3>

<br />

        <p>
            Die Angaben sind erforderlich, um die Transaktionen durchzuführen.<br />
            Die eingegebenen Daten werden jedoch nur durch die Zahlungsdienstleister verarbeitet und bei diesen gespeichert. <br />D. h., wir erhalten keine Konto- oder Kreditkarten bezogenen Informationen, sondern lediglich Informationen mit Bestätigung oder Negativauskunftung der Zahlung.<br />
            Unter Umständen werden die Daten seitens der Zahlungsdienstleister an Wirtschaftsauskunfteien übermittelt.<br />
            Diese Übermittlung bezweckt die Identitäts- und Bonitätsprüfung.<br />
            Hierzu verweisen wir auf die AGB und die Datenschutzhinweise der Zahlungsdienstleister.</p>
     
        <p>
            Für die Zahlungsgeschäfte gelten die allgemeinen Geschäftsbedingungen und die Datenschutzhinweise der jeweiligen Zahlungsdienstleister, <br />welche innerhalb der jeweiligen Webseiten bzw. Transaktionsapplikationen abrufbar sind.<br />
            Wir verweisen auf diese ebenfalls zwecks weiterer Informationen und Geltendmachung von Widerrufs-, Auskunfts- und anderen Betroffenenrechten.</p>

        <br />

<div class="bg-dark" style="color:white">
        <ul class="m-elements">

                <br />

            <li>
                    <strong>Verarbeitete Datenarten :</strong><br />
                    Bestandsdaten (z. B. Namen, Adressen)<br />
                    Zahlungsdaten (z. B. Bankverbindungen, Rechnungen, Zahlungshistorie)<br />
                    Vertragsdaten (z. B. Vertragsgegenstand, Laufzeit, Kundenkategorie)<br />
                    Nutzungsdaten (z. B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten)<br />
                    Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus)<br />                   
                    Kontaktdaten (z. .B. E-Mail, Telefonnummern)<br />
            </li>

                <br />
            
            <li><strong>Betroffene Personen :</strong><br />
                    Kunden<br /> Interessenten
                </li>

                <br />

                <li><strong>Zwecke der Verarbeitung :</strong><br /> 
                    Erbringung vertraglicher Leistungen und Erfüllung vertraglicher Pflichten.</li>

            <li class="">
                    <strong>Rechtsgrundlagen :</strong><br />
                Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).
            </li>

                <br />

        </ul>
        </div>

        <br />
        <br /><br />

        <h2><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten :</strong></h2>

        <br /><br />

<div class="bg-warning">
        <ul class="m-elements">

<br />

            <li>
                    <h5><strong>American Express</strong></h5>
                    Zahlungsdienstleistungen (technische Anbindung von Online-Bezahlmethoden)<br />
                    <strong>Dienstanbieter :</strong><br />
                    American Express Europe S.A., Theodor-Heuss-Allee 112, 60486 Frankfurt am Main, Deutschland<br />
                
                    <div class="">
                        <strong>Rechtsgrundlagen :</strong><br />
                        Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)<br />
                </div>
                    
                    <p>Website :</p><h5 style="text-align:center"><a href="https://www.americanexpress.com/de/" target="_blank" style="text-decoration:none; color:orangered"><strong>American Express</strong></a></h5>
            </li>
                
            <li>
                <h5><strong>Apple Pay</strong></h5>
                Zahlungsdienstleistungen (technische Anbindung von Online-Bezahlmethoden)<br />
                    <strong>Dienstanbieter :</strong><br />
                    Apple Inc., Infinite Loop, Cupertino, CA 95014, USA<br />
                
                    <span class="">
                        <strong>Rechtsgrundlagen :</strong><br />
                    Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)

                </span>
                <p>Website :</p>
                    <h5 style="text-align:center"><a href="https://www.apple.com/de/apple-pay/" target="_blank" style="text-decoration:none; color:orangered"><strong>Apple Pay</strong></a></a></h5>
                
            </li>
            <li>
                <h5><strong>Google Pay</strong></h5>
                    Zahlungsdienstleistungen (technische Anbindung von Online-Bezahlmethoden)<br />
                    <strong>Dienstanbieter:</strong><br /> 
                    Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland<br />
                
                    <span class="">
                        <strong>Rechtsgrundlagen :</strong><br />
                    Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
                
                </span>
                <p>Website :</p>
                <h5 style="text-align:center"><a href="https://pay.google.com/intl/de_de/about/" target="_blank" style="text-decoration:none; color:orangered"><strong>Google Pay</strong></a></h5>
                
            </li>
            <li>
                <h5><strong>Mastercard</strong></h5>
                    Zahlungsdienstleistungen (technische Anbindung von Online-Bezahlmethoden)<br />
                    <strong>Dienstanbieter :</strong><br />
                    Mastercard Europe SA, Chaussée de Tervuren 198A, B-1410 Waterloo, Belgien<br />
                
                    <span class="">
                        <strong>Rechtsgrundlagen :</strong><br />
                    Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
                </span>
                
                <p>Website :</p> 
                <h5 style="text-align:center"><a href="https://www.mastercard.de/de-de.html" target="_blank" style="text-decoration:none; color:orangered"><strong>Mastercard</strong></a></h5>
                
            </li>
            <li>
                <h5><strong>PayPal</strong></h5>
                    Zahlungsdienstleistungen (technische Anbindung von Online-Bezahlmethoden) (z. B. PayPal, PayPal Plus, Braintree)<br />
                    <strong>Dienstanbieter :</strong><br />
                    PayPal (Europe) S.à r.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg<br />
                
                    <span class="">
                        <strong>Rechtsgrundlagen :</strong><br />
                    Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)
                
                </span>
                <p>Website :</p>
                <h5 style="text-align:center"><a href="https://www.paypal.com/de" target="_blank" style="text-decoration:none; color:orangered"><strong>Paypal</strong></a></h5>
                
            </li>
            <li>
                <h5><strong>Visa</strong></h5>
                    Zahlungsdienstleistungen (technische Anbindung von Online-Bezahlmethoden)<br />
                    <strong>Dienstanbieter :</strong><br />
                Visa Europe Services Inc., Zweigniederlassung London, 1 Sheldon Square, London W2 6TT, GB
                
                <br />

                <span class="">
                        <strong>Rechtsgrundlagen :</strong><br />
                    Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO);
                
                </span>
                <p>Website :</p>
                
                <h5 style="text-align:center"><a href="https://www.visa.de" target="_blank" style="text-decoration:none; color:orangered"><strong>Visa</strong></a></h5>

                    <h3><strong>Grundlage Drittlandtransfers :</strong></h3>
                    
                    <br />
                        
                    <h5>
                        <a href="https://www.datenschutzstelle.li/application/files/5116/2512/5593/4801_decision_on_the_adequate_protection_of_personal_data_by.pdf" target="_blank" style="text-decoration:none">Angemessenheitsbeschluss (UK)</a></h5>

                    <br />
                    
                    </li>

        </ul>
        </div>

