﻿@{
}

<br />
<br />

<h1 style="text-align:center"><strong>Gallerie</strong></h1>

<br />
<br />

<h2 style="text-align:right">2024</h2>

<h5 style="text-align:right">Februar</h5>

<br />
<br />

<div class="box-shadow rounded">
    <div class="col-lg-4 col-md-12 mb-4 center">
        <div class="card bg-dark text-white" style="max-width: 600px;">
            <img src="~/google photos/2024/februar/img_20240206_044825.jpg" class="img-fluid rounded card-img" alt="Auf St. Pauli in einer meiner Stammkneipen auf dem Kiez Der goldene Handschuh" />
            <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                <h4 class="card-title">Die Kult-Kneipe auf dem Kiez</h4> <br /> <p>Der goldene Handschuh</p>

            </div>
        </div>
    </div>
</div>



<br />

<h5 style="text-align:right">Januar</h5>

<br />
<br />

<div class="row">
    <div class="col">
        <div class="box-shadow rounded">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2024/januar/img_20240127_113013.jpg" class="img-fluid rounded card-img" alt="U-Bahnhof Schlump" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Am U-Bahnhof Schlump</h4> <br /> <p>Achtet mal auf die Anzeigetafel für den nachsten Zug ! <br />Ja was stimmt denn hier nicht ? </p>

                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="box-shadow rounded">

            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2024/januar/img_20240112_120826.jpg" class="img-fluid rounded card-img" alt="Tastatur" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Gaming Tastatur mit RGB Beleuchtung</h4> <br /> <p>Aber die Tasten haben keine Beleuchtung ! <br /> UNSINNIG !!!</p>

                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />

<h2 style="text-align:right">2023</h2>

<h5 style="text-align:right">September</h5>

<br />
<br />

<div class="row">
    <div class="col">
        <div class="box-shadow rounded">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/september/20230916_144734.jpg" class="img-fluid rounded card-img" alt="Stadtpark" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Der Stadtpark</h4> <br /> <p>Ein wirklich schöner Platz in Hamburg !</p>

                </div>
            </div>
        </div>
    </div>

    <br />> <br />

    <div class="col">
        <div class="box-shadow rounded">

            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/september/20230918_133314.jpg" class="img-fluid rounded card-img" alt="Schachbrett" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Mini Schachbrett Spiel</h4> <br /> <p>Nützlich wenn in Gesellschaft</p>

                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />

<h5 style="text-align:right">Mai</h5>

<br />
<br />

<div class="row">
    <div class="col">
        <div class="box-shadow rounded">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/mai/20230507_095822.jpg" class="img-fluid rounded card-img" alt="Tablet" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Mein neues Tablet</h4> <br /> <p>Microsft Surface Pro 9</p>

                </div>
            </div>
        </div>
    </div>

    <br /><br />

    <div class="col">
        <div class="box-shadow rounded">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/mai/20230507_133728.jpg" class="img-fluid rounded card-img" alt="S-Bahn" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">S-Bahn Hamburg</h4> <br /><p>Die gute alte S-Bahn die Mitte der 90er Jahre ausgemustert wurde</p>

                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col">
        <div class="box-shadow rounded">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/mai/20230511_201201.jpg" class="img-fluid rounded card-img" alt="St. Pauli Blick auf die Straße" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Auf St. Pauli</h4> <br /><p>Blick auf die Straße</p>

                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="box-shadow rounded">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/mai/20230511_201205.jpg" class="img-fluid rounded card-img" alt="St. Pauli Blick auf die Straße 2" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Auf St. Pauli</h4> <br /><p>Blick auf die Straße 2</p>

                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<h5 style="text-align:right">April</h5>

<br />
<br />

<div class="row">
    <div class="col">
        <div class="box-shadow rounded center">
            <div class="card bg-dark text-white" style="max-width: 1000px;">
                <img src="~/google photos/2023/april/img_20230429_192901.jpg" class="img-fluid rounded card-img" alt="Ochsenzoll" />
                <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
                    <h4 class="card-title">Klinikum Ochsenzoll</h4> <br /><p>Sowas passiert, wenn die Patienten, die falschen Medikamente bekommen !</p>

                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />